{% extends 'layout.html' %}
{% load static %}
 {% block main-content %}
 <div class="container">
   <div class="row d-flex justify-content-center">
      <div class="col-md-10">
         <table class="table table-bordered table-striped">
            <tr>
               <th>Product Name</th>
               <th>Product Price</th>
               <th>Product Quantity</th>
               <th>Stock Quantity</th>
               <th>Product Description</th>
               <th>Product Image</th>
            </tr>
            {% for product in products %}
            <tr>
               <td>{{product.product_name}}</td>
               <td>{{product.product_price}}</td>
               <td>{{product.stock}}</td>
               <td>{{product.product_description}}</td>
               <td><img src="{{product.product_image}}" alt="{{product.product_name}}" width="100"></td> 
            </tr>
            {% endfor %}
         </table>
      </div>
   </div>
 </div>
 {% block title %}
 <title> Products</title>
 {% endblock %}
 
 {% endblock %}